html
    include ./includes/header.pug
    body
        
        include ./includes/navbar.html
        div(class="container center")
            div(class="row" id="top")
            
                img(src="img/undraw_add_file_4gfw.svg", class="undraw")
                hr
                p
                    span(class='default')
                        |Escrevendo no 13ยบ Andar
            hr
            each val in resultado
                div(class='blogpost')
                    h1(class='default')
                        |#{val.title}
                        
                    |!{val.post} 
                    hr
                    -var data = new Date(val.date);
                    |!{val.autor}#{data.getDate()}/#{data.getMonth()}/#{data.getFullYear()} - !{val.tags}
                br
            
            hr
            a(class="button" href="#top")= "Home"
                
    include ./includes/footer.pug