//PLANTILLA GENERAL
html
    include ./includes/header.pug
    body
        include ./includes/navbar.html    
        div(class="row principal u-max-full-width")
            
            h1(class="titulo")= titulo
            h3(class="titulo")= mensaje
            
        
        div(class="container")
            div(class="row formulario")
            div(class="row")
                div(class="three columns")
                    h5= "Ativismo"
                    include ./includes/img/undraw_reminders_697p.svg
                    p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
                div(class="three columns")
                    h5= "Cursos"
                    include ./includes/img/undraw_teaching_f1cm.svg
                    p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
                div(class="three columns")
                    h5= "Desenvolvimento"
                    include ./includes/img/undraw_code_typing_7jnv.svg
                    p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
                div(class="three columns")
                    h5= "Data Science"
                    //https://undraw.co/illustrations
                    include ./includes/img/undraw_code_thinking.svg
                    p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
            hr
            div(class="row center")
                h5= "Entre em contato por"
                h5= "Whatsapp"
                include ./includes/img/undraw_begin_chat_c6pj.svg
                hr
                h5= "Formulário"
            include ./includes/formulario.html

    include ./includes/footer.pug