html
    include ./includes/header.pug
    
    body
        include ./includes/navbar.html
        div(class='container')
            div(class="row principal u-max-full-width" id="home")
                h1(class='titulo')
                    |Seus Representantes
            div(class='row u-max-full-width')
                div(class='four columns')
                    h3
                        |A 
                        span(class='default') Câmara Federal
                        |, ou Cámara Baixa do Congresso Nacional do Brasil
                        | é constituida de 
                        span(class="default") #{datos.numDeputados} 
                        | deputados eleitos por voto proporcional.<br> <hr>Os atuais deputados pertencem à 
                        span(class='default') 56ª 
                        |Legislatura do Congresso Nacional (2019 a 2023)
                    
                div(class='eight columns')
                    canvas(id='deputados-genero')
                    br
                    br
                    br
                    h4(class='center')
                        |Os Deputados representam, ou deveriam representar, o povo brasileiro, entretanto, a Cãmara conta com 
                        span(class='default') #{datos.deputados.sexo.masculino} 
                        | deputados e 
                        span(class='danger') #{datos.deputados.sexo.feminino} 
                        |deputadas.
                    
            hr
            div(class='row u-max-full-width')
                h2
                    span(class='default')
                        |Atualmente há 
                        span(class='danger') #{datos.deputados.numPartidos} partidos 
                        | representados na Câmara Federal
                div
                    canvas(id='pesoPartidos')

        
        
        
        include ./includes/tools/charts-chart-js.html
        
        script
            |   //partidos da camara
            |    var ctx = document.getElementById('pesoPartidos').getContext('2d');
            |    var piechart = new Chart(ctx, {
            |        // The type of chart we want to create
            |        type: 'doughnut',
            |        
            |        // labels = nomePartidos
            |        // data = pesoPartidos
            |        // The data for our dataset
            |
            |        data: {
            |
            |            labels: !{labelPartido},
            |            datasets: [{
            |                label: 'My First dataset',
            |                backgroundColor: !{colors},
            |                borderColor: !{colors},
            |                data: [#{pesoPartido}]
            |            }]
            |        },
            |
            |        // Configuration options go here
            |        options: {}
            |    });
            |//generos da camara
            |   //genero na camara
            |   
            |    var ctx = document.getElementById('deputados-genero').getContext('2d');
            |    var piechart = new Chart(ctx, {
            |        // The type of chart we want to create
            |        type: 'doughnut',
            |        
            |        // labels = nomePartidos
            |        // data = pesoPartidos
            |        // The data for our dataset
            |
            |        data: {
            |
            |            labels: ['Masculino','Feminino'],
            |            datasets: [{
            |                label: 'My First dataset',
            |                backgroundColor: ['#4054A0','#F3617E'],
            |                borderColor: ['#4054A0','#F3617E'],
            |                data: [#{datos.deputados.sexo.masculino}, #{datos.deputados.sexo.feminino}]
            |            }]
            |        },
            |
            |        // Configuration options go here
            |        options: {
            |            legend: { display: false}   
            |            }
            |    });